<form method="POST" action="{{ route('step4Upload') }}" enctype="multipart/form-data">
    {{ csrfField() }}
    <input type="file" name="profile_pics[]" multiple />
    <button class="btn btn-primary float-right" id="step2Submit">Submit</button>
</form>

<script>

</script>